<html>
<head>
    <title>BotMan Widget</title>
    <meta charset="UTF-8">
</head>
<body>
<script>
    var botmanWidget = {
        frameEndpoint: "{{ path('web_chat') }}", 
        introMessage: 'Hello, I am a Chatbot',
        chatServer : "{{ path('web_hear') }}", 
        title: 'My Chatbot', 
        mainColor: '#456765',
        bubbleBackground: '#ff76f4',
        aboutText: '',
        bubbleAvatarUrl: '',
    }; 
    </script>
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
</body>
</html>